*{
    background-image: url(fondo.jpeg);
    text-align:left;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: .5;
    margin-bottom: 0;
}
.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    background-color: chocolate;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole {
    background-size: cover;
    background-image: url(topo.png);
}
.container {
    
    display: flex;
   
    align-items: center;
    justify-content: center;
    height: .0vh;
    top: 80px;
}
